name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.26"

      - name: Build Docker image
        run: docker build -t sub2port .

      - name: Run tests
        working-directory: tests
        run: go test -v
